Types of function
 - User Defined Function
 - Built in Function

In [7]:
# Syntex of Non-prameterized function
# Def Funtion_name():
#  statements

#function call
#function_name()

In [8]:
def my_func():
    print("My first user defined function")
my_func()

My first user defined function

In [9]:
my_func()
my_func()
my_func()
my_func()

My first user defined function
My first user defined function
My first user defined function
My first user defined function

In [10]:
#parameterized function
def sum(a,b):
    print(a+b)

In [11]:
sum(10,44)

54

In [12]:
sum(123,321)

444

In [23]:
def calculate_area(r):
    print(3.14*r*r)

calculate_area(44)

6079.04

In [29]:
def avg(a,b,c):
    print((a+b+c)/3)
avg(10,20,30)

20.0

In [31]:
def avg(a,b,c):
    return(a+b+c)/3
average=avg(10,20,30)
print(average)

20.0

In [32]:
avg(44,55,66)

55.0

In [47]:
def name(k):
    print( k + "ji")


    
name("Ujjwal")

Ujjwalji

In [51]:
def name(name):
    return(name+" ji")
k = name("uuuuu")
print(k)

uuuuu ji

In [58]:
#default parameter function
def my_country(country = "Pakistan",):
    print("I am from "+ country)
my_country("Nepal")
my_country("usa")
my_country("bangaladesh")
my_country()

I am from Nepal
I am from usa
I am from bangaladesh
I am from Pakistan

In [62]:
def food_option(food):
    for i in food:
        print(i)
fruits = ["Apple", "Banana"]
food_option(fruits)

Apple
Banana

In [72]:
def even_odd(num):

    if num%2 == 0:
        print("Even")
    else:    
       print('odd')
num=int(input("enter a number:"))
even_odd(num)

odd