In [2]:
fruits = ['orange', 'apple ','pear ','banana','kiwi','banana']
print(fruits)

['orange', 'apple ', 'pear ', 'banana', 'kiwi', 'banana']

In [3]:
for x in fruits :
    print(x)

orange
apple
pear
banana
kiwi
banana

In [5]:
for x in fruits:
    print(x, end=' ❤️')

orange ❤️ apple  ❤️pear  ❤️banana ❤️kiwi ❤️banana ❤️

In [11]:
name= 'ujjwal gupta'
for i in name:
    print (i, end= '')

ujjwal gupta

In [16]:
for num in range(0,20,3):
    print(num)

0
3
6
9
12
15
18

In [18]:
for name in range(5):
    print("ujjwal")

ujjwal
ujjwal
ujjwal
ujjwal
ujjwal

In [23]:
a=10
b=5
sum = a+b
print("sum :",sum)
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum : 15
sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [27]:
for i in range(1,11):
 print(f"15 * {i} = {15*i}")

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [1]:
for i in range(1,11):
    print(f"15*{i}={15*i}")

15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150