In [2]:
fruits = ['orange', 'apple ','pear ','banana','kiwi','banana']
print(fruits)

['orange', 'apple ', 'pear ', 'banana', 'kiwi', 'banana']

In [3]:
for x in fruits :
    print(x)

orange
apple
pear
banana
kiwi
banana

In [5]:
for x in fruits:
    print(x, end=' ❤️')

orange ❤️ apple  ❤️pear  ❤️banana ❤️kiwi ❤️banana ❤️

In [11]:
name= 'ujjwal gupta'
for i in name:
    print (i, end= '')

ujjwal gupta

In [16]:
for num in range(0,20,3):
    print(num)

0
3
6
9
12
15
18

In [1]:
for name in range(8):
    print("ujjwal")

ujjwal
ujjwal
ujjwal
ujjwal
ujjwal
ujjwal
ujjwal
ujjwal

In [23]:
a=10
b=5
sum = a+b
print("sum :",sum)
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum : 15
sum of 10 and 5 is 15
sum of 10 and 5 is 15

In [27]:
for i in range(1,11):
 print(f"15 * {i} = {15*i}")

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [1]:
for i in range(1,11):
    print(f"15*{i}={15*i}")

15*1=15
15*2=30
15*3=45
15*4=60
15*5=75
15*6=90
15*7=105
15*8=120
15*9=135
15*10=150

In [2]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,11):
    print(f"32*{i}={32*i}")

32*1=32
32*2=64
32*3=96
32*4=128
32*5=160
32*6=192
32*7=224
32*8=256
32*9=288
32*10=320

In [8]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [17]:
for i in range(1,21):
    if i%2== 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [13]:
num = 1
while num <=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [22]:
sum =0
for i in range(1,101):

    sum=sum +1
print("sum of all interger",sum)

sum of all interger 100

In [25]:
sum = 0
for i in range(1,101):
       sum = sum + i
print("sum of integers from 1 to 100 is",sum)

sum of integers from 1 to 100 is 5050

In [33]:
sum = 0
num = 1
while num<=100:
    sum = sum+num
    num = num+1
print("sum of all integers is 1 to 100",sum)

sum of all integers is 1 to 100 5050

Break AND Continue

In [9]:
fruits = ['orange', 'apple ','pear ','tomato','banana','kiwi','banana']
for fruit in fruits:
    if fruit =="tomato":
        break
    print(fruit)

orange
apple
pear

In [7]:
fruits = ['orange', 'apple ','pear ','tomato','banana','kiwi','banana']
for fruit in fruits:
    if fruit =="tomato":
        continue
    print(fruit)

orange
apple
pear
banana
kiwi
banana

In [14]:
name="ujjwal"
for n in name:
    if n =="w":
        break
    print(n)

u
j
j

In [18]:
for i, v in enumerate(fruits):
  print(f'{i},{v}')

0,orange
1,apple
2,pear
3,tomato
4,banana
5,kiwi
6,banana

In [22]:
item = ['pen ','pencil','eraser','bowl','scale','bottle',]
for i ,v in enumerate(item):
    if i ==3:
        break
    print(f'{i}:{v}')

0:pen
1:pencil
2:eraser