How to declare dictionary in different ways 
How to access key and values of dictionary
How to use loops in dictionary
Nested dictionary

In [64]:
student = {
    "name":"ujjwal",
    "class": "mba",
    "roll_no" : 2,
    "age": 17
}
print(student)

{'name': 'ujjwal', 'class': 'mba', 'roll_no': 2, 'age': 17}

In [69]:
temp ={
  'lucknow': {24,23,55},

  'delhi': {88,99,32},
   'mumbai':{11,22,33}
  }
print(temp)

{'lucknow': {24, 23, 55}, 'delhi': {88, 32, 99}, 'mumbai': {33, 11, 22}}

In [66]:
info = dict(name = 'ujjwal',age= 22, roll_no = 2 , class_= 'mba')
print(info)

{'name': 'ujjwal', 'age': 22, 'roll_no': 2, 'class_': 'mba'}

In [67]:
info2 = dict(name = input("enter your name:"),
        age=int(input("Enter you age")),
        roll_no = int(input("Enter your roll_no")),
        class_=input("Enter your class"))
print(info2)

ValueError: invalid literal for int() with base 10: ''

In [17]:
# 1st method to access the value of a key
print(student['name'])
print(temp['lucknow'])

ujjwal
{23, 55}

In [20]:
print(student.get('name'))
print(info2.get('class_'))

ujjwal
Mba

In [21]:
# to add item in dictionary
student['city']= 'malad west'
student['school'] = 'Amity'
print(student)

{'name': 'ujjwal', 'class': 'mba', 'roll_no': 2, 'age': 17, 'city': 'malad west', 'school': 'Amity'}

In [22]:
#to  remove item in dictionary
student.pop('city')
print(student)

{'name': 'ujjwal', 'class': 'mba', 'roll_no': 2, 'age': 17, 'school': 'Amity'}

In [25]:
del student['age']
print(student)

{'name': 'ujjwal', 'class': 'mba', 'roll_no': 2, 'school': 'Amity'}

In [30]:
for k in info:
    print(k
          )

name
age
roll_no
class_

In [36]:
for k , v in info.items():
    print(f"{k}:{v}")

name:ujjwal
age:22
roll_no:2
class_:mba

In [38]:
print(student.values())
print(student.keys())
print(student.items())

dict_values(['ujjwal', 'mba', 2, 'Amity'])
dict_keys(['name', 'class', 'roll_no', 'school'])
dict_items([('name', 'ujjwal'), ('class', 'mba'), ('roll_no', 2), ('school', 'Amity')])

In [45]:
company = {
    'emp001':{'name':'ujjwal','age':22,'dept':'Hr', 'salary': 22333},
    'emp002':{'name':'sahil','age':22,'dept':'Hr', 'salary':23234 },
    'emp003':{'name':'Ayush','age':26,'dept':'Hr', 'salary':6666 },
    'emp004':{'name':'Mayank','age':24,'dept':'Hr', 'salary':654544 },
    'emp005':{'name':'Rahul','age':55,'dept':'Vco', 'salary':25000 },


}
print(company)

{'emp001': {'name': 'ujjwal', 'age': 22, 'dept': 'Hr', 'salary': 22333}, 'emp002': {'name': 'sahil', 'age': 22, 'dept': 'Hr', 'salary': 23234}, 'emp003': {'name': 'Ayush', 'age': 26, 'dept': 'Hr', 'salary': 6666}, 'emp004': {'name': 'Mayank', 'age': 24, 'dept': 'Hr', 'salary': 654544}, 'emp005': {'name': 'Rahul', 'age': 55, 'dept': 'Vco', 'salary': 25000}}

In [41]:
from pprint import pp

In [42]:
pp(company)

{'emp001': {'name': 'ujjwal', 'age': 22, 'dept': 'Hr', 'salary': 22333},
 'emp002': {'name': 'sahil', 'age': 22, 'dept': 'Hr', 'salary': 23234},
 'emp003': {'name': 'Ayush', 'age': 26, 'dept': 'Hr', 'salary': 6666},
 'emp004': {'name': 'Mayank', 'age': 24, 'dept': 'Hr', 'salary': 654544}}

In [44]:
print(company['emp004']['age'])

24

In [52]:
company['emp005']="'name','Rahul','age',24,'dept','Vco', 'salary',234444 "
print(company)

{'emp001': {'name': 'ujjwal', 'age': 22, 'dept': 'Hr', 'salary': 22333}, 'emp002': {'name': 'sahil', 'age': 22, 'dept': 'Hr', 'salary': 23234}, 'emp003': {'name': 'Ayush', 'age': 26, 'dept': 'Hr', 'salary': 6666}, 'emp004': "'name','Rahul','age',24,'dept','Vco', 'salary',234444 ", 'emp005': "'name','Rahul','age',24,'dept','Vco', 'salary',234444 "}

In [70]:
print(temp['lucknow'][0])
print(temp['delhi'][1])

TypeError: 'set' object is not subscriptable

In [74]:
print("Average temprature of lucknow is",sum(temp['delhi'])/len(temp['delhi']))

Average temprature of lucknow is 73.0